body, html {
    height:100%;
    width:100%;
    overflow:hidden;
}

#inst_message {
    position:absolute;
    height:80%;
    width:80%;
    top:10%;
    left:10%;
    font-color:white;
    font-size:3em;
    display:block;
    text-align:center;
}

p {
    color:white;
}

div {
    background-color:black;
    height:100%;
    width:100%;
    overflow:hidden;
    top:0px;
    left:0px;
}

#mess_div {
    position:relative;
}

.sel_box {
    position:absolute;
    display:none;
}

#right_A {
    background-color:#003300;
    width:33%;
    height:66%;
    position:absolute;
    right:10%;
    top:33%;
    float:right;
    border:2px solid white;
    border-radius:50%;
    display:block;
}

#left_A {
    background-color:#990000;
    width:33%;
    height:66%;
    position:absolute;
    left:10%;
    top:33%;
    float:left;
    border:2px solid white;
    border-radius:10px;
    display:block;
}

#Payout {
    height:20%;
    width:20%;
    position: absolute;
    left:40%;
    bottom:35%;
    font-size:7em;
}
