body, html {
    height:100%
    width:100%;
    overflow:hidden;
}

input[type="number"] {
    display:none;
}

#inst_message {
    height:100px;
    margin-top:50px;
    margin-left:600px;
    font-color:white;
    font-size:2em;
    display:inline;

}
.fractal {
    height:200px;
    width:300px;
    margin-top:150px;
    margin-left: 225px;
}

p {
    color:white;
}

div {
    background-color:black;
    height:950px;
    width:1680px;
    overflow:hidden;
}

.sel_box {
    display:none;
}
#right_A {
    background-color:green;
    width:750px;
    height:500px;
    position:absolute;
    right:25px;
    top:200px;
    float: right;
    border:2px solid white;
    border-radius:10px;
    display:block;
}


#left_A {
    background-color:red;
    width:750px;
    height:500px;
    position: absolute;
    left:25px;
    top:200px;
    float: left;
    display:inline;
    border:2px solid white;
    border-radius:10px;
    display:block;
}